/* Optional: Define custom theme variables, fonts, or colors directly in CSS */
@theme {
 --font-sans: "Montserrat", sans-serif;
 --font-code: "Source Code Pro", monospace;
 --color-brand: var(--color-blue-700);
 --bg-color: var(--color-slate-50);
 --text-color: var(--color-slate-800);
 --link: var(--color-brand);
 --hover: var(--color-blue-900);

 --table-hover: var(--color-slate-200, #e2e8f0);

 /* default fluid fonts */
 /* Utilizing a clean formula: clamp(min, base + scaling, max) */
 --text-secondary-fluid: clamp(0.8rem, 0.6769rem + 0.7154vw, 1rem);
 --text-lead-fluid: clamp(1.125rem, 1.04rem + 0.42vw, 1.375rem);
 --text-h1-fluid: clamp(2.5rem, 2.2rem + 1.5vw, 3.5rem);
 --text-semi-fluid: clamp(1.1rem, 1.0385rem + 0.3077vw, 1.25rem);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
 --bg-color: var(--color-slate-800);
 --text-color: var(--color-slate-100);
 --table-hover: var(--color-slate-500, #575a5c);
}
